#base{
    position: absolute;
    height: 410px;
    width: 410px;
    background-color: grey;
    border-radius: 200px;
    left:20%;
    top: 20%;
}
[order]{
    position: relative;
    z-index: auto;
}
[order = "1"]{
    height: 380px;
    width: 380px;
    border-radius: 190px;
    background-color: white;
    top: 15px;
    left: 15px;
}
[order = "2"]{
    height: 370px;
    width: 370px;
    border-radius: 185px;
    background-color: red;
    top: 5px;
    left: 5px;
}
[order = "3"]{
    height: 360px;
    width: 360px;
    border-radius: 180px;
    background-color: white;
    top: 5px;
    left: 5px;
}
[order = "4"]{
    height: 320px;
    width: 320px;
    border-radius: 160px;
    background-color: red;
    top: 20px;
    left: 20px;
}
[order = "5"]{
    height: 280px;
    width: 280px;
    border-radius: 140px;
    background-color: white;
    top: 20px;
    left: 20px;
}
[order = "6"]{
    height: 240px;
    width: 240px;
    border-radius: 120px;
    background-color: red;
    top: 20px;
    left: 20px;
}
[order = "7"]{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: white;
    top: 20px;
    left: 20px;
}
[order = "8"]{
    height: 160px;
    width: 160px;
    border-radius: 80px;
    background-color: red;
    top: 20px;
    left: 20px;
}
[order = "9"]{
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background-color: white;
    top: 20px;
    left: 20px;
}
[order = "10"]{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: red;
    top: 20px;
    left: 20px;
}
#Horizontal{
    height: 380px;
    width: 3px;
    background-color: black;
    position: relative;
    z-index: 10;
    bottom: 368px;
    left: 204px;
}
#Vertical{
    height: 3px;
    width: 380px;
    background-color: black;
    position: relative;
    z-index: 10;
    left: 15px;
    bottom: 176px;
}

