body {
    font-family: Arial, sans-serif;
    background-color: #d2e8d4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: #eaf6f6;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#question-container {
    margin-bottom: 20px;
}

.option {
    background-color: #49a6a6;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #38a6b3;
}

.option {
    transition: background-color 0.3s ease;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #333;
}

.option.correct {
    background-color: green;
    animation: bounce 0.5s;
}

.option.wrong {
    background-color: red;
    animation: bounce 0.5s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

#next-button {
    background-color: #49a6a6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#next-button:hover {
    background-color: #38a6b3;
}

#result-container {
    margin-top: 20px;
}

#question-footer {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

#result-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #eaf6f6;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#result-container h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

#score {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}